.input-box {
    font-size: 16px;
    border: 0;
    outline: none;
}

.input-container {
    border: 1px solid grey;
    width: 400px;
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
}

.tag-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;
}